In [33]:
import pandas as pd
import csv
import matplotlib as mp
import os
from IPython.display import display, HTML

In [16]:

india_folder = 'data/trends/'

In [17]:
columns = ['indicators', '2005-06', '2007-08', '2008-09', '2009-10', '2010-11','2011-12', '2012-13', '2013-14', '2014-15', '2015-16']
india = pd.DataFrame(columns=columns)

In [68]:
try:
    for item in os.listdir(india_folder):
        if os.path.isdir(india_folder + item):
            k=0
            for csv_file in os.listdir(india_folder + item):
                df = pd.read_csv(india_folder + item + "/" + csv_file)
                df=df.dropna(axis=1,how='all')
                df.columns = columns
                df = df[df.columns[:11]]
                df.to_csv(india_folder + item + "/" +str(k)+ "_updated" +".csv", index=False)
                k += 1
except Exception as e:
    print (e)
    print (item)
    print (df.columns)
    print (df)

In [70]:
try:
    for item in os.listdir(india_folder):
        if os.path.isdir(india_folder + item):
            frame = pd.DataFrame()
            list_ = []
            print(item)
            for csv_file in os.listdir(india_folder + item):
                if "_updated" in csv_file:
                    print(csv_file)
                    df = pd.read_csv(india_folder + item + "/" + csv_file,index_col=None, header=0)
                    list_.append(df)
                    frame = pd.concat(list_)
                    frame.to_csv(india_folder + item + "/" + item + ".csv", index=False)
except Exception as e:
    print(e)

dadar
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
sikkim
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
assam
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
uttar_pradesh
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
arunachal
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
himachal
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
telangana
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
puducherry
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
punjab
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
daman
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
odisha
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
uttarakhand
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
meghalaya
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
andhra
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
maharashtra
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
delhi
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
lakshadweep
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
tamil_nadu
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
west_bengal
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
madhya
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
manipur
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
chandigarh
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
bihar
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
kerala
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
jharkhand
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
rajasthan
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
goa
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
nagaland
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
karnataka
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
gujarat
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
mizoram
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
tripura
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
a&n
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
haryana
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
jammu
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
chhattisgarh
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv
India
2_updated.csv
0_updated.csv
1_updated.csv
3_updated.csv

In [48]:
for item in os.listdir(india_folder):
        if os.path.isdir(india_folder + item):
            for csv_file in os.listdir(india_folder + item):
                df = pd.read_csv(india_folder + item + "/" + csv_file)
                display(df)
                df.columns = columns
                print 
                df = df[df.columns[:11]]

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Student-Classroom Ratio,45,41,39,39.0,45,40,35,36,34,32
1,% Schools with Drinking Water,87.3,91.1,93.8,96.3,96.3,9280.17,1499.4,100.0,100.0,100.0
2,% Schools with Common Toilet,29.4,32.2,42.2,21.6,-,-,-,-,-,-
3,% Schools with Boys' Toilet,-,-,-,52.4,55.6,75.8,64.0x,96.2x,99.4x,100.0
4,% Schools with Girls' Toilet,28.1,25.3,32.8,51.7,54.9,6240.10,15 71.8x,84.3x,94.7x,100.0
5,% Schools with Boundarywall,56.6,42.1,43.2,38.9,39.4,40.6,43.8,42.6,46.9,56.4
6,% School with Playground Facility,-,-,-,36.2,35.0,2290.17,1636.2,37.9,40.9,43.7
7,% Schools with Ramp,1.3,3.0,6.2,27.4,24.2,20.8,66.7**,96.6**,99.1**,99.1**
8,% Schools havining Electricity,-,-,74.4,75.7,76.4,81.9,92.7,95.3,98.4,100.0
9,% Schools with Computer,4.4,5.9,4.2,9.5,11.8,27.7,32.7,35.7,36.9,39.3
10,% Schools Providing Mid-day Meal*,-,-,-,99.3,98.6,99.7,98.6,99.0,98.6,98.6

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Number of Distr4ic.0ts Covered,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Total Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.0,228,304.0,308.0,296.0,297.0,303.0,315.0,319.0,320.0,323.0
3,Total Government Schools,-,272.0,274.0,273.0,273.0,275.0,275.0,275.0,275.0,275.0
4,Total Private Schools,-,19.0,21.0,23.0,24.0,28.0,40.0,44.0,44.0,44.0
5,Ratio of Primary to U.PrimarySch1.2/S.7ec.,2.4,2.5,2.4,2.4,2.4,3.0,2.3,2.3,2.2,2.2
6,Primary Sch./Sec.per 1000 Child Popln.,8,11.0,8.0,12.0,12.0,27.0,28.0,8.0,7.0,7.0
7,U.Prim. Sch./Sec.per 1000 Child Popln.,6,7.0,12.0,8.0,8.0,15.0,19.0,6.0,6.0,6.0
8,% Single-Teacher Schools with Enr.≥15,14.0,20.7,20.8,18.6,20.9,23.1,14.0,15.1,14.4,1.2
9,% Enrolment in Single-Teacher Schools,4.4,4.4,5.1,4.1,4.7,4.8,3.0,3.2,2.9,0.2
10,% Schools with E5n.r1olment ≤ 50,17.5,30.3,29.2,28.4,28.3,29.7,31.4,31.4,34.7,33.8
11,% Schools with F4e.5male Teachers,76.8,84.9,84.7,82.8,84.2,85.5,85.4,86.8,83.6,85.5

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Student-Classroom Ratio,45,41,39,39.0,45,40,35,36,34,32
1,% Schools with Drinking Water,87.3,91.1,93.8,96.3,96.3,9280.17,1499.4,100.0,100.0,100.0
2,% Schools with Common Toilet,29.4,32.2,42.2,21.6,-,-,-,-,-,-
3,% Schools with Boys' Toilet,-,-,-,52.4,55.6,75.8,64.0x,96.2x,99.4x,100.0
4,% Schools with Girls' Toilet,28.1,25.3,32.8,51.7,54.9,6240.10,15 71.8x,84.3x,94.7x,100.0
5,% Schools with Boundarywall,56.6,42.1,43.2,38.9,39.4,40.6,43.8,42.6,46.9,56.4
6,% School with Playground Facility,-,-,-,36.2,35.0,2290.17,1636.2,37.9,40.9,43.7
7,% Schools with Ramp,1.3,3.0,6.2,27.4,24.2,20.8,66.7**,96.6**,99.1**,99.1**
8,% Schools havining Electricity,-,-,74.4,75.7,76.4,81.9,92.7,95.3,98.4,100.0
9,% Schools with Computer,4.4,5.9,4.2,9.5,11.8,27.7,32.7,35.7,36.9,39.3
10,% Schools Providing Mid-day Meal*,-,-,-,99.3,98.6,99.7,98.6,99.0,98.6,98.6

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Enrolment: Classes I-V,31851,39779,40080,39826.00,39896.00,39381.00,35883,35822,35358,36196.00
1,Enrolment: Classes VI-VIII,7351,10248,11336,12464.00,19168.00,20613.00,22184,22971,22839,22778.00
2,"Enrolment: Classes I-V, Government",-,34291,34185,33422.00,32757.00,31254.00,26569,24960,23755,23905.00
3,"Enrolment:Classes VI-VIII,Go9v3e.r8nment",-,8822,9751,10595.00,16357.00,17281.00,18723,19114,18448,17850.00
4,"Enrolment: Classes I-V, Privat1e00.0",-,5488,5895,6404.00,7139.00,7707.00,9314,10862,11578,12144.00
5,"Enrolment: Classes VI-VIII, Private",-,1426,1585,1869.00,2811.00,3078.00,3461,3857,4391,4928.00
6,% Girls Enrolment: Primary Le9v6e.1l,47.0,47.7,47.7,47.70,47.20,47.20,47.1,46.6,46.7,46.90
7,% Girls Enrolment: U.Primary 1L0e0v.0el,40.7,43.0,44.0,44.60,45.40,46.10,46.1,46.2,46.1,46.50
8,Ratio of Girls Enr.to Boys: Primary,0.89,0.91,0.91,0.91,0.89,0.89,0.89,0.87,0.88,0.88
9,Ratio of Girls Enr.to Boys: U.Primary,0.69,0.76,0.79,0.81,0.83,0.86,0.85,0.86,0.86,0.87
10,% SC Enrolment: Classes I-VIII,3.5,2.4,1.9,1.80,2.40,2.30,2.0,2.0,2.5,2.20
11,% ST Enrolment: Classes I-VI9I4I .4,69.5,71.0,70.4,69.70,67.80,67.20,63.7,60.0,57.5,56.10
12,% OBC Enrolment: Primary Level,0.8,0.8,0.9,0.70,1.20,1.30,2.1,3.2,2.6,3.50
13,% OBC Enrolment:U.Primary Level,0.9,1.5,1.2,0.70,1.30,1.50,1.4,1.6,1.9,2.40
14,% Muslim Enrolment: Primary9 L3e.1vel,-,-,-,3.40,2.90,3.20,3.4,3.2,3.7,3.70
15,% Muslim0. 0Enrolment: U. Primary Level,-,-,-,2.70,2.80,3.20,3.0,2.5,3.1,3.20
16,Ratio of Grade V to I,55,77,81,97.00,95.00,98.00,-,98,-,87.00
17,Avg. Repetition Rate: Primary Level,-,18.4,12.2,7.90,5.80,4.30,1.9,1.4,1.2,0.90
18,Avg.Repetition Rate: U.Primary Level,-,10.9,7.2,3.60,3.20,2.50,2.5,0.8,1.0,0.90
19,Avg. Drop-out Rate: Primary 9L0e.v7el,-,-,4.5,2.80,2.00,2.50,160.4-,-,1.6,1.50
20,Retention Rate: Primary Level,-,-,85.5,82.40,82.90,88.80,91.2,96.0,93.3,96.90
21,Transition Rate: Primary to U.Primary,-,90.3,87.4,91.40,96.20,96.20,96.4,98.2,96.7,98.00

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Student-Classroom Ratio,45,41,39,39.0,45,40,35,36,34,32
1,% Schools with Drinking Water,87.3,91.1,93.8,96.3,96.3,9280.17,1499.4,100.0,100.0,100.0
2,% Schools with Common Toilet,29.4,32.2,42.2,21.6,-,-,-,-,-,-
3,% Schools with Boys' Toilet,-,-,-,52.4,55.6,75.8,64.0x,96.2x,99.4x,100.0
4,% Schools with Girls' Toilet,28.1,25.3,32.8,51.7,54.9,6240.10,15 71.8x,84.3x,94.7x,100.0
5,% Schools with Boundarywall,56.6,42.1,43.2,38.9,39.4,40.6,43.8,42.6,46.9,56.4
6,% School with Playground Facility,-,-,-,36.2,35.0,2290.17,1636.2,37.9,40.9,43.7
7,% Schools with Ramp,1.3,3.0,6.2,27.4,24.2,20.8,66.7**,96.6**,99.1**,99.1**
8,% Schools havining Electricity,-,-,74.4,75.7,76.4,81.9,92.7,95.3,98.4,100.0
9,% Schools with Computer,4.4,5.9,4.2,9.5,11.8,27.7,32.7,35.7,36.9,39.3
10,% Schools Providing Mid-day Meal*,-,-,-,99.3,98.6,99.7,98.6,99.0,98.6,98.6

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Number of Distr4ic.0ts Covered,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Total Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.0,228,304.0,308.0,296.0,297.0,303.0,315.0,319.0,320.0,323.0
3,Total Government Schools,-,272.0,274.0,273.0,273.0,275.0,275.0,275.0,275.0,275.0
4,Total Private Schools,-,19.0,21.0,23.0,24.0,28.0,40.0,44.0,44.0,44.0
5,Ratio of Primary to U.PrimarySch1.2/S.7ec.,2.4,2.5,2.4,2.4,2.4,3.0,2.3,2.3,2.2,2.2
6,Primary Sch./Sec.per 1000 Child Popln.,8,11.0,8.0,12.0,12.0,27.0,28.0,8.0,7.0,7.0
7,U.Prim. Sch./Sec.per 1000 Child Popln.,6,7.0,12.0,8.0,8.0,15.0,19.0,6.0,6.0,6.0
8,% Single-Teacher Schools with Enr.≥15,14.0,20.7,20.8,18.6,20.9,23.1,14.0,15.1,14.4,1.2
9,% Enrolment in Single-Teacher Schools,4.4,4.4,5.1,4.1,4.7,4.8,3.0,3.2,2.9,0.2
10,% Schools with E5n.r1olment ≤ 50,17.5,30.3,29.2,28.4,28.3,29.7,31.4,31.4,34.7,33.8
11,% Schools with F4e.5male Teachers,76.8,84.9,84.7,82.8,84.2,85.5,85.4,86.8,83.6,85.5

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Enrolment: Classes I-V,31851,39779,40080,39826.00,39896.00,39381.00,35883,35822,35358,36196.00
1,Enrolment: Classes VI-VIII,7351,10248,11336,12464.00,19168.00,20613.00,22184,22971,22839,22778.00
2,"Enrolment: Classes I-V, Government",-,34291,34185,33422.00,32757.00,31254.00,26569,24960,23755,23905.00
3,"Enrolment:Classes VI-VIII,Go9v3e.r8nment",-,8822,9751,10595.00,16357.00,17281.00,18723,19114,18448,17850.00
4,"Enrolment: Classes I-V, Privat1e00.0",-,5488,5895,6404.00,7139.00,7707.00,9314,10862,11578,12144.00
5,"Enrolment: Classes VI-VIII, Private",-,1426,1585,1869.00,2811.00,3078.00,3461,3857,4391,4928.00
6,% Girls Enrolment: Primary Le9v6e.1l,47.0,47.7,47.7,47.70,47.20,47.20,47.1,46.6,46.7,46.90
7,% Girls Enrolment: U.Primary 1L0e0v.0el,40.7,43.0,44.0,44.60,45.40,46.10,46.1,46.2,46.1,46.50
8,Ratio of Girls Enr.to Boys: Primary,0.89,0.91,0.91,0.91,0.89,0.89,0.89,0.87,0.88,0.88
9,Ratio of Girls Enr.to Boys: U.Primary,0.69,0.76,0.79,0.81,0.83,0.86,0.85,0.86,0.86,0.87
10,% SC Enrolment: Classes I-VIII,3.5,2.4,1.9,1.80,2.40,2.30,2.0,2.0,2.5,2.20
11,% ST Enrolment: Classes I-VI9I4I .4,69.5,71.0,70.4,69.70,67.80,67.20,63.7,60.0,57.5,56.10
12,% OBC Enrolment: Primary Level,0.8,0.8,0.9,0.70,1.20,1.30,2.1,3.2,2.6,3.50
13,% OBC Enrolment:U.Primary Level,0.9,1.5,1.2,0.70,1.30,1.50,1.4,1.6,1.9,2.40
14,% Muslim Enrolment: Primary9 L3e.1vel,-,-,-,3.40,2.90,3.20,3.4,3.2,3.7,3.70
15,% Muslim0. 0Enrolment: U. Primary Level,-,-,-,2.70,2.80,3.20,3.0,2.5,3.1,3.20
16,Ratio of Grade V to I,55,77,81,97.00,95.00,98.00,-,98,-,87.00
17,Avg. Repetition Rate: Primary Level,-,18.4,12.2,7.90,5.80,4.30,1.9,1.4,1.2,0.90
18,Avg.Repetition Rate: U.Primary Level,-,10.9,7.2,3.60,3.20,2.50,2.5,0.8,1.0,0.90
19,Avg. Drop-out Rate: Primary 9L0e.v7el,-,-,4.5,2.80,2.00,2.50,160.4-,-,1.6,1.50
20,Retention Rate: Primary Level,-,-,85.5,82.40,82.90,88.80,91.2,96.0,93.3,96.90
21,Transition Rate: Primary to U.Primary,-,90.3,87.4,91.40,96.20,96.20,96.4,98.2,96.7,98.00

,Enrolment Indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Enrolment: Classes I-V,31851,39779,40080,39826.00,39896.00,39381.00,35883,35822,35358,36196.00
1,Enrolment: Classes VI-VIII,7351,10248,11336,12464.00,19168.00,20613.00,22184,22971,22839,22778.00
2,"Enrolment: Classes I-V, Government",-,34291,34185,33422.00,32757.00,31254.00,26569,24960,23755,23905.00
3,"Enrolment:Classes VI-VIII,Go9v3e.r8nment",-,8822,9751,10595.00,16357.00,17281.00,18723,19114,18448,17850.00
4,"Enrolment: Classes I-V, Privat1e00.0",-,5488,5895,6404.00,7139.00,7707.00,9314,10862,11578,12144.00
5,"Enrolment: Classes VI-VIII, Private",-,1426,1585,1869.00,2811.00,3078.00,3461,3857,4391,4928.00
6,% Girls Enrolment: Primary Le9v6e.1l,47.0,47.7,47.7,47.70,47.20,47.20,47.1,46.6,46.7,46.90
7,% Girls Enrolment: U.Primary 1L0e0v.0el,40.7,43.0,44.0,44.60,45.40,46.10,46.1,46.2,46.1,46.50
8,Ratio of Girls Enr.to Boys: Primary,0.89,0.91,0.91,0.91,0.89,0.89,0.89,0.87,0.88,0.88
9,Ratio of Girls Enr.to Boys: U.Primary,0.69,0.76,0.79,0.81,0.83,0.86,0.85,0.86,0.86,0.87
10,% SC Enrolment: Classes I-VIII,3.5,2.4,1.9,1.80,2.40,2.30,2.0,2.0,2.5,2.20
11,% ST Enrolment: Classes I-VI9I4I .4,69.5,71.0,70.4,69.70,67.80,67.20,63.7,60.0,57.5,56.10
12,% OBC Enrolment: Primary Level,0.8,0.8,0.9,0.70,1.20,1.30,2.1,3.2,2.6,3.50
13,% OBC Enrolment:U.Primary Level,0.9,1.5,1.2,0.70,1.30,1.50,1.4,1.6,1.9,2.40
14,% Muslim Enrolment: Primary9 L3e.1vel,-,-,-,3.40,2.90,3.20,3.4,3.2,3.7,3.70
15,% Muslim0. 0Enrolment: U. Primary Level,-,-,-,2.70,2.80,3.20,3.0,2.5,3.1,3.20
16,Ratio of Grade V to I,55,77,81,97.00,95.00,98.00,-,98,-,87.00
17,Avg. Repetition Rate: Primary Level,-,18.4,12.2,7.90,5.80,4.30,1.9,1.4,1.2,0.90
18,Avg.Repetition Rate: U.Primary Level,-,10.9,7.2,3.60,3.20,2.50,2.5,0.8,1.0,0.90
19,Avg. Drop-out Rate: Primary 9L0e.v7el,-,-,4.5,2.80,2.00,2.50,160.4-,-,1.6,1.50
20,Retention Rate: Primary Level,-,-,85.5,82.40,82.90,88.80,91.2,96.0,93.3,96.90
21,Transition Rate: Primary to U.Primary,-,90.3,87.4,91.40,96.20,96.20,96.4,98.2,96.7,98.00

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Total Teachers (Elementary),963,1379.0,1428.0,1441.0,1468.0,1505.0,1879.0,1977.0,2042.0,2411.0
1,% Teachers: Government,-,85.1,82.7,82.6,77.5,74.2,68.9,65.2,62.5,65.3
2,% Teachers: Private Aided,-,4.4,3.4,3.2,3.3,3.9,3.8,3.9,3.9,3.3
3,% Teachers: Private Unaided,-,10.5,13.9,14.2,18.2,21.1,27.4,30.9,33.6,30.7
4,Pupil-Teacher Ratio: Elementary,41,36.0,36.0,36.0,40.0,40.0,31.0,30.0,29.0,24.0
5,% Female Teachers,51.5,55.6,57.0,56.9,58.6,59.4,62.2,62.6,63.5,63.2
6,% SC Teachers,-,6.2,5.0,5.2,5.5,5.8,6.4,4.8,4.4,4.7
7,% ST Teachers,-,52.1,51.8,52.5,50.2,51.8,46.5,46.7,45.3,46.9
8,% OBC Teachers,-,4.2,5.0,4.8,4.7,5.1,5.2,5.3,5.0,5.5
9,% Teachers Recieved in-Service Training,1.8,77.1,80.7,80.5,54.1,41.5,55.9,60.9,58.2,62.6

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Number of Distr4ic.0ts Covered,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Total Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.0,228,304.0,308.0,296.0,297.0,303.0,315.0,319.0,320.0,323.0
3,Total Government Schools,-,272.0,274.0,273.0,273.0,275.0,275.0,275.0,275.0,275.0
4,Total Private Schools,-,19.0,21.0,23.0,24.0,28.0,40.0,44.0,44.0,44.0
5,Ratio of Primary to U.PrimarySch1.2/S.7ec.,2.4,2.5,2.4,2.4,2.4,3.0,2.3,2.3,2.2,2.2
6,Primary Sch./Sec.per 1000 Child Popln.,8,11.0,8.0,12.0,12.0,27.0,28.0,8.0,7.0,7.0
7,U.Prim. Sch./Sec.per 1000 Child Popln.,6,7.0,12.0,8.0,8.0,15.0,19.0,6.0,6.0,6.0
8,% Single-Teacher Schools with Enr.≥15,14.0,20.7,20.8,18.6,20.9,23.1,14.0,15.1,14.4,1.2
9,% Enrolment in Single-Teacher Schools,4.4,4.4,5.1,4.1,4.7,4.8,3.0,3.2,2.9,0.2
10,% Schools with E5n.r1olment ≤ 50,17.5,30.3,29.2,28.4,28.3,29.7,31.4,31.4,34.7,33.8
11,% Schools with F4e.5male Teachers,76.8,84.9,84.7,82.8,84.2,85.5,85.4,86.8,83.6,85.5

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Total Teachers (Elementary),963,1379.0,1428.0,1441.0,1468.0,1505.0,1879.0,1977.0,2042.0,2411.0
1,% Teachers: Government,-,85.1,82.7,82.6,77.5,74.2,68.9,65.2,62.5,65.3
2,% Teachers: Private Aided,-,4.4,3.4,3.2,3.3,3.9,3.8,3.9,3.9,3.3
3,% Teachers: Private Unaided,-,10.5,13.9,14.2,18.2,21.1,27.4,30.9,33.6,30.7
4,Pupil-Teacher Ratio: Elementary,41,36.0,36.0,36.0,40.0,40.0,31.0,30.0,29.0,24.0
5,% Female Teachers,51.5,55.6,57.0,56.9,58.6,59.4,62.2,62.6,63.5,63.2
6,% SC Teachers,-,6.2,5.0,5.2,5.5,5.8,6.4,4.8,4.4,4.7
7,% ST Teachers,-,52.1,51.8,52.5,50.2,51.8,46.5,46.7,45.3,46.9
8,% OBC Teachers,-,4.2,5.0,4.8,4.7,5.1,5.2,5.3,5.0,5.5
9,% Teachers Recieved in-Service Training,1.8,77.1,80.7,80.5,54.1,41.5,55.9,60.9,58.2,62.6

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Enrolment: Classes I-V,31851,39779,40080,39826.00,39896.00,39381.00,35883,35822,35358,36196.00
1,Enrolment: Classes VI-VIII,7351,10248,11336,12464.00,19168.00,20613.00,22184,22971,22839,22778.00
2,"Enrolment: Classes I-V, Government",-,34291,34185,33422.00,32757.00,31254.00,26569,24960,23755,23905.00
3,"Enrolment:Classes VI-VIII,Go9v3e.r8nment",-,8822,9751,10595.00,16357.00,17281.00,18723,19114,18448,17850.00
4,"Enrolment: Classes I-V, Privat1e00.0",-,5488,5895,6404.00,7139.00,7707.00,9314,10862,11578,12144.00
5,"Enrolment: Classes VI-VIII, Private",-,1426,1585,1869.00,2811.00,3078.00,3461,3857,4391,4928.00
6,% Girls Enrolment: Primary Le9v6e.1l,47.0,47.7,47.7,47.70,47.20,47.20,47.1,46.6,46.7,46.90
7,% Girls Enrolment: U.Primary 1L0e0v.0el,40.7,43.0,44.0,44.60,45.40,46.10,46.1,46.2,46.1,46.50
8,Ratio of Girls Enr.to Boys: Primary,0.89,0.91,0.91,0.91,0.89,0.89,0.89,0.87,0.88,0.88
9,Ratio of Girls Enr.to Boys: U.Primary,0.69,0.76,0.79,0.81,0.83,0.86,0.85,0.86,0.86,0.87
10,% SC Enrolment: Classes I-VIII,3.5,2.4,1.9,1.80,2.40,2.30,2.0,2.0,2.5,2.20
11,% ST Enrolment: Classes I-VI9I4I .4,69.5,71.0,70.4,69.70,67.80,67.20,63.7,60.0,57.5,56.10
12,% OBC Enrolment: Primary Level,0.8,0.8,0.9,0.70,1.20,1.30,2.1,3.2,2.6,3.50
13,% OBC Enrolment:U.Primary Level,0.9,1.5,1.2,0.70,1.30,1.50,1.4,1.6,1.9,2.40
14,% Muslim Enrolment: Primary9 L3e.1vel,-,-,-,3.40,2.90,3.20,3.4,3.2,3.7,3.70
15,% Muslim0. 0Enrolment: U. Primary Level,-,-,-,2.70,2.80,3.20,3.0,2.5,3.1,3.20
16,Ratio of Grade V to I,55,77,81,97.00,95.00,98.00,-,98,-,87.00
17,Avg. Repetition Rate: Primary Level,-,18.4,12.2,7.90,5.80,4.30,1.9,1.4,1.2,0.90
18,Avg.Repetition Rate: U.Primary Level,-,10.9,7.2,3.60,3.20,2.50,2.5,0.8,1.0,0.90
19,Avg. Drop-out Rate: Primary 9L0e.v7el,-,-,4.5,2.80,2.00,2.50,160.4-,-,1.6,1.50
20,Retention Rate: Primary Level,-,-,85.5,82.40,82.90,88.80,91.2,96.0,93.3,96.90
21,Transition Rate: Primary to U.Primary,-,90.3,87.4,91.40,96.20,96.20,96.4,98.2,96.7,98.00

,Facility Indicators,2005-06,2007-08,2008-09,2009-10,2010-11,20112-0112,210312-13,2013-14,2014-15,2015-16
0,Student-Classroom Ratio,45,41,39,39.0,45,40,35,36,34,32
1,% Schools with Drinking Water,87.3,91.1,93.8,96.3,96.3,9280.17,1499.4,100.0,100.0,100.0
2,% Schools with Common Toilet,29.4,32.2,42.2,21.6,-,-,-,-,-,-
3,% Schools with Boys' Toilet,-,-,-,52.4,55.6,75.8,64.0x,96.2x,99.4x,100.0
4,% Schools with Girls' Toilet,28.1,25.3,32.8,51.7,54.9,6240.10,15 71.8x,84.3x,94.7x,100.0
5,% Schools with Boundarywall,56.6,42.1,43.2,38.9,39.4,40.6,43.8,42.6,46.9,56.4
6,% School with Playground Facility,-,-,-,36.2,35.0,2290.17,1636.2,37.9,40.9,43.7
7,% Schools with Ramp,1.3,3.0,6.2,27.4,24.2,20.8,66.7**,96.6**,99.1**,99.1**
8,% Schools havining Electricity,-,-,74.4,75.7,76.4,81.9,92.7,95.3,98.4,100.0
9,% Schools with Computer,4.4,5.9,4.2,9.5,11.8,27.7,32.7,35.7,36.9,39.3
10,% Schools Providing Mid-day Meal*,-,-,-,99.3,98.6,99.7,98.6,99.0,98.6,98.6

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Total Teachers (Elementary),963,1379.0,1428.0,1441.0,1468.0,1505.0,1879.0,1977.0,2042.0,2411.0
1,% Teachers: Government,-,85.1,82.7,82.6,77.5,74.2,68.9,65.2,62.5,65.3
2,% Teachers: Private Aided,-,4.4,3.4,3.2,3.3,3.9,3.8,3.9,3.9,3.3
3,% Teachers: Private Unaided,-,10.5,13.9,14.2,18.2,21.1,27.4,30.9,33.6,30.7
4,Pupil-Teacher Ratio: Elementary,41,36.0,36.0,36.0,40.0,40.0,31.0,30.0,29.0,24.0
5,% Female Teachers,51.5,55.6,57.0,56.9,58.6,59.4,62.2,62.6,63.5,63.2
6,% SC Teachers,-,6.2,5.0,5.2,5.5,5.8,6.4,4.8,4.4,4.7
7,% ST Teachers,-,52.1,51.8,52.5,50.2,51.8,46.5,46.7,45.3,46.9
8,% OBC Teachers,-,4.2,5.0,4.8,4.7,5.1,5.2,5.3,5.0,5.5
9,% Teachers Recieved in-Service Training,1.8,77.1,80.7,80.5,54.1,41.5,55.9,60.9,58.2,62.6

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Total Teachers (Elementary),963,1379.0,1428.0,1441.0,1468.0,1505.0,1879.0,1977.0,2042.0,2411.0
1,% Teachers: Government,-,85.1,82.7,82.6,77.5,74.2,68.9,65.2,62.5,65.3
2,% Teachers: Private Aided,-,4.4,3.4,3.2,3.3,3.9,3.8,3.9,3.9,3.3
3,% Teachers: Private Unaided,-,10.5,13.9,14.2,18.2,21.1,27.4,30.9,33.6,30.7
4,Pupil-Teacher Ratio: Elementary,41,36.0,36.0,36.0,40.0,40.0,31.0,30.0,29.0,24.0
5,% Female Teachers,51.5,55.6,57.0,56.9,58.6,59.4,62.2,62.6,63.5,63.2
6,% SC Teachers,-,6.2,5.0,5.2,5.5,5.8,6.4,4.8,4.4,4.7
7,% ST Teachers,-,52.1,51.8,52.5,50.2,51.8,46.5,46.7,45.3,46.9
8,% OBC Teachers,-,4.2,5.0,4.8,4.7,5.1,5.2,5.3,5.0,5.5
9,% Teachers Recieved in-Service Training,1.8,77.1,80.7,80.5,54.1,41.5,55.9,60.9,58.2,62.6

,Teachers Indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Total Teachers (Elementary),963,1379.0,1428.0,1441.0,1468.0,1505.0,1879.0,1977.0,2042.0,2411.0
1,% Teachers: Government,-,85.1,82.7,82.6,77.5,74.2,68.9,65.2,62.5,65.3
2,% Teachers: Private Aided,-,4.4,3.4,3.2,3.3,3.9,3.8,3.9,3.9,3.3
3,% Teachers: Private Unaided,-,10.5,13.9,14.2,18.2,21.1,27.4,30.9,33.6,30.7
4,Pupil-Teacher Ratio: Elementary,41,36.0,36.0,36.0,40.0,40.0,31.0,30.0,29.0,24.0
5,% Female Teachers,51.5,55.6,57.0,56.9,58.6,59.4,62.2,62.6,63.5,63.2
6,% SC Teachers,-,6.2,5.0,5.2,5.5,5.8,6.4,4.8,4.4,4.7
7,% ST Teachers,-,52.1,51.8,52.5,50.2,51.8,46.5,46.7,45.3,46.9
8,% OBC Teachers,-,4.2,5.0,4.8,4.7,5.1,5.2,5.3,5.0,5.5
9,% Teachers Recieved in-Service Training,1.8,77.1,80.7,80.5,54.1,41.5,55.9,60.9,58.2,62.6

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Student-Classroom Ratio,45,41,39,39.0,45,40,35,36,34,32
1,% Schools with Drinking Water,87.3,91.1,93.8,96.3,96.3,9280.17,1499.4,100.0,100.0,100.0
2,% Schools with Common Toilet,29.4,32.2,42.2,21.6,-,-,-,-,-,-
3,% Schools with Boys' Toilet,-,-,-,52.4,55.6,75.8,64.0x,96.2x,99.4x,100.0
4,% Schools with Girls' Toilet,28.1,25.3,32.8,51.7,54.9,6240.10,15 71.8x,84.3x,94.7x,100.0
5,% Schools with Boundarywall,56.6,42.1,43.2,38.9,39.4,40.6,43.8,42.6,46.9,56.4
6,% School with Playground Facility,-,-,-,36.2,35.0,2290.17,1636.2,37.9,40.9,43.7
7,% Schools with Ramp,1.3,3.0,6.2,27.4,24.2,20.8,66.7**,96.6**,99.1**,99.1**
8,% Schools havining Electricity,-,-,74.4,75.7,76.4,81.9,92.7,95.3,98.4,100.0
9,% Schools with Computer,4.4,5.9,4.2,9.5,11.8,27.7,32.7,35.7,36.9,39.3
10,% Schools Providing Mid-day Meal*,-,-,-,99.3,98.6,99.7,98.6,99.0,98.6,98.6

,School Indicato4r.4s,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Number of Distr4ic.0ts Covered,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Total Schools\r9.0,228,304.0,308.0,296.0,297.0,303.0,315.0,319.0,320.0,323.0
2,Total Government Schools,-,272.0,274.0,273.0,273.0,275.0,275.0,275.0,275.0,275.0
3,Total Private Schools,-,19.0,21.0,23.0,24.0,28.0,40.0,44.0,44.0,44.0
4,Ratio of Primary to U.PrimarySch1.2/S.7ec.,2.4,2.5,2.4,2.4,2.4,3.0,2.3,2.3,2.2,2.2
5,Primary Sch./Sec.per 1000 Child Popln.,8,11.0,8.0,12.0,12.0,27.0,28.0,8.0,7.0,7.0
6,U.Prim. Sch./Sec.per 1000 Child Popln.,6,7.0,12.0,8.0,8.0,15.0,19.0,6.0,6.0,6.0
7,% Single-Teacher Schools with Enr.≥15,14.0,20.7,20.8,18.6,20.9,23.1,14.0,15.1,14.4,1.2
8,% Enrolment in Single-Teacher Schools,4.4,4.4,5.1,4.1,4.7,4.8,3.0,3.2,2.9,0.2
9,% Schools with E5n.r1olment ≤ 50,17.5,30.3,29.2,28.4,28.3,29.7,31.4,31.4,34.7,33.8
10,% Schools with F4e.5male Teachers,76.8,84.9,84.7,82.8,84.2,85.5,85.4,86.8,83.6,85.5

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Enrolment: Classes I-V,31851,39779,40080,39826.00,39896.00,39381.00,35883,35822,35358,36196.00
1,Enrolment: Classes VI-VIII,7351,10248,11336,12464.00,19168.00,20613.00,22184,22971,22839,22778.00
2,"Enrolment: Classes I-V, Government",-,34291,34185,33422.00,32757.00,31254.00,26569,24960,23755,23905.00
3,"Enrolment:Classes VI-VIII,Go9v3e.r8nment",-,8822,9751,10595.00,16357.00,17281.00,18723,19114,18448,17850.00
4,"Enrolment: Classes I-V, Privat1e00.0",-,5488,5895,6404.00,7139.00,7707.00,9314,10862,11578,12144.00
5,"Enrolment: Classes VI-VIII, Private",-,1426,1585,1869.00,2811.00,3078.00,3461,3857,4391,4928.00
6,% Girls Enrolment: Primary Le9v6e.1l,47.0,47.7,47.7,47.70,47.20,47.20,47.1,46.6,46.7,46.90
7,% Girls Enrolment: U.Primary 1L0e0v.0el,40.7,43.0,44.0,44.60,45.40,46.10,46.1,46.2,46.1,46.50
8,Ratio of Girls Enr.to Boys: Primary,0.89,0.91,0.91,0.91,0.89,0.89,0.89,0.87,0.88,0.88
9,Ratio of Girls Enr.to Boys: U.Primary,0.69,0.76,0.79,0.81,0.83,0.86,0.85,0.86,0.86,0.87
10,% SC Enrolment: Classes I-VIII,3.5,2.4,1.9,1.80,2.40,2.30,2.0,2.0,2.5,2.20
11,% ST Enrolment: Classes I-VI9I4I .4,69.5,71.0,70.4,69.70,67.80,67.20,63.7,60.0,57.5,56.10
12,% OBC Enrolment: Primary Level,0.8,0.8,0.9,0.70,1.20,1.30,2.1,3.2,2.6,3.50
13,% OBC Enrolment:U.Primary Level,0.9,1.5,1.2,0.70,1.30,1.50,1.4,1.6,1.9,2.40
14,% Muslim Enrolment: Primary9 L3e.1vel,-,-,-,3.40,2.90,3.20,3.4,3.2,3.7,3.70
15,% Muslim0. 0Enrolment: U. Primary Level,-,-,-,2.70,2.80,3.20,3.0,2.5,3.1,3.20
16,Ratio of Grade V to I,55,77,81,97.00,95.00,98.00,-,98,-,87.00
17,Avg. Repetition Rate: Primary Level,-,18.4,12.2,7.90,5.80,4.30,1.9,1.4,1.2,0.90
18,Avg.Repetition Rate: U.Primary Level,-,10.9,7.2,3.60,3.20,2.50,2.5,0.8,1.0,0.90
19,Avg. Drop-out Rate: Primary 9L0e.v7el,-,-,4.5,2.80,2.00,2.50,160.4-,-,1.6,1.50
20,Retention Rate: Primary Level,-,-,85.5,82.40,82.90,88.80,91.2,96.0,93.3,96.90
21,Transition Rate: Primary to U.Primary,-,90.3,87.4,91.40,96.20,96.20,96.4,98.2,96.7,98.00

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Number of Distr4ic.0ts Covered,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Total Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.0,228,304.0,308.0,296.0,297.0,303.0,315.0,319.0,320.0,323.0
3,Total Government Schools,-,272.0,274.0,273.0,273.0,275.0,275.0,275.0,275.0,275.0
4,Total Private Schools,-,19.0,21.0,23.0,24.0,28.0,40.0,44.0,44.0,44.0
5,Ratio of Primary to U.PrimarySch1.2/S.7ec.,2.4,2.5,2.4,2.4,2.4,3.0,2.3,2.3,2.2,2.2
6,Primary Sch./Sec.per 1000 Child Popln.,8,11.0,8.0,12.0,12.0,27.0,28.0,8.0,7.0,7.0
7,U.Prim. Sch./Sec.per 1000 Child Popln.,6,7.0,12.0,8.0,8.0,15.0,19.0,6.0,6.0,6.0
8,% Single-Teacher Schools with Enr.≥15,14.0,20.7,20.8,18.6,20.9,23.1,14.0,15.1,14.4,1.2
9,% Enrolment in Single-Teacher Schools,4.4,4.4,5.1,4.1,4.7,4.8,3.0,3.2,2.9,0.2
10,% Schools with E5n.r1olment ≤ 50,17.5,30.3,29.2,28.4,28.3,29.7,31.4,31.4,34.7,33.8
11,% Schools with F4e.5male Teachers,76.8,84.9,84.7,82.8,84.2,85.5,85.4,86.8,83.6,85.5

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Student-Classroom Ratio,16,15,15,15.0,14,14,14,13,12,12
1,% Schools with Drinking Water,76.9,79.8,87.5,96.7,98.2,9260.15,1497.0,97.2,97.2,98.5
2,% Schools with Common Toilet,86.5,88.7,98.7,80.0,-,-,-,-,-,-
3,% Schools with Boys' Toilet,-,-,-,43.4,49.5,95.2,55.2x,100.0x,99.9x,99.8
4,% Schools with Girls' Toilet,34.5,42.3,41.4,74.8,75.4,8210.19,15 97.1x,96.8x,97.4x,99.8
5,% Schools with Boundarywall,25.2,25.7,25.5,26.7,29.3,28.8,32.0,34.9,36.3,35.3
6,% School with Playground Facility,-,-,-,63.0,63.8,6210.19,1664.0,67.2,67.1,68.0
7,% Schools with Ramp,4.5,6.0,6.0,5.5,5.5,5.2,65.0**,73.3**,26.4**,50.0**
8,% Schools havining Electricity,-,-,53.4,57.1,60.0,56.7,61.5,64.7,70.7,84.0
9,% Schools with Computer,18.1,21.9,24.0,35.9,41.0,45.9,50.3,53.3,58.6,60.4
10,% Schools Providing Mid-day Meal*,-,-,-,90.5,92.2,91.1,97.0,97.9,98.3,97.9

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Enrolment: Classes I-V,87527,87107,87617.00,88262.00,89837.00,84291,80702,73832,66672,60807
1,Enrolment: Classes VI-VIII,30232,34131,34523.00,35840.00,36705.00,41327,44628,46269,44136,44490
2,"Enrolment: Classes I-V, Government",-,72921,69427.00,69305.00,71934.00,64058,57148,50156,43614,36634
3,"Enrolment:Classe36s. 1VI-VIII,Government",-,30151,29325.00,30373.00,30905.00,33574,36880,38067,36376,36638
4,"Enrolment: Clas3s2e.s3 I-V, Private",-,14186,18190.00,18957.00,17903.00,19566,23554,23676,23058,24173
5,"Enrolment: Classes VI-VIII, Private",-,3980,5198.00,5467.00,5800.00,6494,7748,8202,7760,7852
6,% Girls Enrolment:4 3P.r9imary Level,49.7,49.5,49.40,48.90,48.50,48.0,47.8,47.7,47.3,47.1
7,% Girls Enrolmen3t6: .U6 .Primary Level,53.1,54.1,53.80,54.30,54.30,53.2,52.5,51.1,51.3,51.1
8,Ratio of Girls Enr.to Boys: Primary,0.99,0.98,0.98,0.96,0.94,0.92,0.92,0.91,0.90,0.89
9,Ratio of Girls Enr.to Boys: U.Primary,1.13,1.18,1.17,1.19,1.19,1.14,1.11,1.05,1.05,1.05
10,% SC Enrolment: Classes I-VIII,7.2,6.8,7.20,6.80,7.30,7.5,7.4,7.7,7.8,7.9
11,% ST Enrolment: C4la4s.7ses I-VIII,36.3,36.1,37.30,35.80,37.20,37.4,36.9,36.0,36.5,36.4
12,% OBC Enrolment: Primary Level,41.1,39.5,38.30,40.40,38.80,39.3,39.3,37.9,38.9,39.1
13,% OBC Enrolment:U.Primary Level,43.5,41.7,40.70,43.80,40.20,42.9,43.2,42.0,42.2,42.7
14,% Muslim Enrolmen4t6: .P4 rimary Level,-,-,0.50,0.60,0.90,1.3,1.4,2.0,1.8,1.9
15,% Muslim Enrolm33e.3nt: U. Primary Level,-,-,1.00,0.40,0.60,0.9,0.8,1.5,1.1,1.2
16,Ratio of Grade V to I,66,80,87.00,92.00,78.00,-,-,-,-,-
17,Avg. Repetition Rate: Primary Level,21.6,16.9,16.60,11.30,12.60,4.0,0.3,1.0,1.1,0.4
18,Avg.Repetition Rate: U.Primary Level,-,17.7,14.50,11.10,11.00,3.2,0.1,0.2,0.6,0.1
19,Avg. Drop-out Rate: P53ri.m8 ary Level,5.7,5.2,3.50,4.50,7.10,4.3,1572..82,3.6,4.6,2.3
20,Retention Rate: Primary Level,-,63.7,64.80,69.50,78.60,90.4,95.2,92.8,77.1,86.9
21,Transition Rate: Primary to U.Primary,-,77.5,78.10,83.10,79.10,95.0,96.5,94.9,92.3,93.1

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Enrolment: Classes I-V,87527,87107,87617.00,88262.00,89837.00,84291,80702,73832,66672,60807
1,Enrolment: Classes VI-VIII,30232,34131,34523.00,35840.00,36705.00,41327,44628,46269,44136,44490
2,"Enrolment: Classes I-V, Government",-,72921,69427.00,69305.00,71934.00,64058,57148,50156,43614,36634
3,"Enrolment:Classe36s. 1VI-VIII,Government",-,30151,29325.00,30373.00,30905.00,33574,36880,38067,36376,36638
4,"Enrolment: Clas3s2e.s3 I-V, Private",-,14186,18190.00,18957.00,17903.00,19566,23554,23676,23058,24173
5,"Enrolment: Classes VI-VIII, Private",-,3980,5198.00,5467.00,5800.00,6494,7748,8202,7760,7852
6,% Girls Enrolment:4 3P.r9imary Level,49.7,49.5,49.40,48.90,48.50,48.0,47.8,47.7,47.3,47.1
7,% Girls Enrolmen3t6: .U6 .Primary Level,53.1,54.1,53.80,54.30,54.30,53.2,52.5,51.1,51.3,51.1
8,Ratio of Girls Enr.to Boys: Primary,0.99,0.98,0.98,0.96,0.94,0.92,0.92,0.91,0.90,0.89
9,Ratio of Girls Enr.to Boys: U.Primary,1.13,1.18,1.17,1.19,1.19,1.14,1.11,1.05,1.05,1.05
10,% SC Enrolment: Classes I-VIII,7.2,6.8,7.20,6.80,7.30,7.5,7.4,7.7,7.8,7.9
11,% ST Enrolment: C4la4s.7ses I-VIII,36.3,36.1,37.30,35.80,37.20,37.4,36.9,36.0,36.5,36.4
12,% OBC Enrolment: Primary Level,41.1,39.5,38.30,40.40,38.80,39.3,39.3,37.9,38.9,39.1
13,% OBC Enrolment:U.Primary Level,43.5,41.7,40.70,43.80,40.20,42.9,43.2,42.0,42.2,42.7
14,% Muslim Enrolmen4t6: .P4 rimary Level,-,-,0.50,0.60,0.90,1.3,1.4,2.0,1.8,1.9
15,% Muslim Enrolm33e.3nt: U. Primary Level,-,-,1.00,0.40,0.60,0.9,0.8,1.5,1.1,1.2
16,Ratio of Grade V to I,66,80,87.00,92.00,78.00,-,-,-,-,-
17,Avg. Repetition Rate: Primary Level,21.6,16.9,16.60,11.30,12.60,4.0,0.3,1.0,1.1,0.4
18,Avg.Repetition Rate: U.Primary Level,-,17.7,14.50,11.10,11.00,3.2,0.1,0.2,0.6,0.1
19,Avg. Drop-out Rate: P53ri.m8 ary Level,5.7,5.2,3.50,4.50,7.10,4.3,1572..82,3.6,4.6,2.3
20,Retention Rate: Primary Level,-,63.7,64.80,69.50,78.60,90.4,95.2,92.8,77.1,86.9
21,Transition Rate: Primary to U.Primary,-,77.5,78.10,83.10,79.10,95.0,96.5,94.9,92.3,93.1

,Enrolment Indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Enrolment: Classes I-V,87527,87107,87617.00,88262.00,89837.00,84291,80702,73832,66672,60807
1,Enrolment: Classes VI-VIII,30232,34131,34523.00,35840.00,36705.00,41327,44628,46269,44136,44490
2,"Enrolment: Classes I-V, Government",-,72921,69427.00,69305.00,71934.00,64058,57148,50156,43614,36634
3,"Enrolment:Classe36s. 1VI-VIII,Government",-,30151,29325.00,30373.00,30905.00,33574,36880,38067,36376,36638
4,"Enrolment: Clas3s2e.s3 I-V, Private",-,14186,18190.00,18957.00,17903.00,19566,23554,23676,23058,24173
5,"Enrolment: Classes VI-VIII, Private",-,3980,5198.00,5467.00,5800.00,6494,7748,8202,7760,7852
6,% Girls Enrolment:4 3P.r9imary Level,49.7,49.5,49.40,48.90,48.50,48.0,47.8,47.7,47.3,47.1
7,% Girls Enrolmen3t6: .U6 .Primary Level,53.1,54.1,53.80,54.30,54.30,53.2,52.5,51.1,51.3,51.1
8,Ratio of Girls Enr.to Boys: Primary,0.99,0.98,0.98,0.96,0.94,0.92,0.92,0.91,0.90,0.89
9,Ratio of Girls Enr.to Boys: U.Primary,1.13,1.18,1.17,1.19,1.19,1.14,1.11,1.05,1.05,1.05
10,% SC Enrolment: Classes I-VIII,7.2,6.8,7.20,6.80,7.30,7.5,7.4,7.7,7.8,7.9
11,% ST Enrolment: C4la4s.7ses I-VIII,36.3,36.1,37.30,35.80,37.20,37.4,36.9,36.0,36.5,36.4
12,% OBC Enrolment: Primary Level,41.1,39.5,38.30,40.40,38.80,39.3,39.3,37.9,38.9,39.1
13,% OBC Enrolment:U.Primary Level,43.5,41.7,40.70,43.80,40.20,42.9,43.2,42.0,42.2,42.7
14,% Muslim Enrolmen4t6: .P4 rimary Level,-,-,0.50,0.60,0.90,1.3,1.4,2.0,1.8,1.9
15,% Muslim Enrolm33e.3nt: U. Primary Level,-,-,1.00,0.40,0.60,0.9,0.8,1.5,1.1,1.2
16,Ratio of Grade V to I,66,80,87.00,92.00,78.00,-,-,-,-,-
17,Avg. Repetition Rate: Primary Level,21.6,16.9,16.60,11.30,12.60,4.0,0.3,1.0,1.1,0.4
18,Avg.Repetition Rate: U.Primary Level,-,17.7,14.50,11.10,11.00,3.2,0.1,0.2,0.6,0.1
19,Avg. Drop-out Rate: P53ri.m8 ary Level,5.7,5.2,3.50,4.50,7.10,4.3,1572..82,3.6,4.6,2.3
20,Retention Rate: Primary Level,-,63.7,64.80,69.50,78.60,90.4,95.2,92.8,77.1,86.9
21,Transition Rate: Primary to U.Primary,-,77.5,78.10,83.10,79.10,95.0,96.5,94.9,92.3,93.1

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Total Teachers (Elementary),7908,8396.0,8313.0,10073.0,10493.0,11477.0,12356,13028,13625.0,15077.0
1,% Teachers: Government,-,79.9,77.8,79.0,76.1,74.0,71.6,72.4,71.9,72.4
2,% Teachers: Private Aided,-,3.7,4.3,5.2,3.9,3.2,1.1,1.2,1.1,1.0
3,% Teachers: Private Unaided,-,16.4,17.9,15.9,18.3,21.5,27.3,26.5,27.0,26.6
4,Pupil-Teacher Ratio: Elementary,15,14.0,15.0,12.0,12.0,11.0,10,9,8.0,7.0
5,% Female Teachers,43.7,45.1,45.5,48.7,48.9,49.9,51.1,52.1,53.3,54.6
6,% SC Teachers,-,4.0,3.8,3.7,3.8,3.5,3.6,3.7,3.7,3.9
7,% ST Teachers,-,38.9,37.6,39.4,38.1,38.0,39.4,39.0,39.5,39.9
8,% OBC Teachers,-,35.3,35.3,39.2,40.5,41.8,41.8,41.4,42.5,43.2
9,% Teachers Recieved in-Service Training,0.8,0.3,0.1,0.9,0.1,2.3,7.0,0.9,2.3,1.6
10,% Contract Teachers to Total Teachers,0.4,0.7,0.4,0.7,2.0,9.2,-,-,24.6,29.9

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Number of Districts Covered 7.3,4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
1,Total Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7.8,1097,1150.0,1144.0,1180.0,1201.0,1235.0,1279.0,1277.0,1274.0,1279.0
3,Total Government Schools,-,870.0,855.0,892.0,895.0,902.0,866.0,870.0,868.0,870.0
4,Total Private Schools,-,278.0,288.0,288.0,306.0,333.0,413.0,407.0,406.0,409.0
5,Ratio of Primary to U.PrimaryS7c.7h./Sec.,3.3,3.3,3.3,2.9,2.7,2.4,2.4,2.3,2.3,2.2
6,Primary Sch./Sec.per 1000 Child Popln.,17,20.0,9.0,22.0,24.0,23.0,24.0,21.0,21.0,21.0
7,U.Prim. Sch./Sec.per 1000 Child Popln.,8,9.0,20.0,11.0,12.0,14.0,14.0,16.0,18.0,19.0
8,% Single-Teacher Schools with Enr.≥15,0.7,0.4,0.2,0.6,0.8,1.5,0.5,0.2,0.5,0.0
9,% Enrolment in Single-Teacher Schools,0.2,0.1,0.1,0.2,0.3,0.5,0.2,0.1,0.2,0.0
10,% Schools with Enrolment ≤7 5.00,42.8,46.3,45.2,45.4,43.6,45.8,48.4,52.3,55.0,56.4

,Facility Indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,Unnamed: 11
0,Student-Classroom Ratio,16,15,15,15.0,14,14,14,13,12,12,NaN
1,% Schools with Drinking Water,76.9,79.8,87.5,96.7,98.2,9260.15,1497.0,97.2,97.2,98.5,NaN
2,% Schools with Common Toilet,86.5,88.7,98.7,80.0,-,-,-,-,-,-,NaN
3,% Schools with Boys' Toilet,-,-,-,43.4,49.5,95.2,55.2x,100.0x,99.9x,99.8,NaN
4,% Schools with Girls' Toilet,34.5,42.3,41.4,74.8,75.4,8210.19,15 97.1x,96.8x,97.4x,99.8,NaN
5,% Schools with Boundarywall,25.2,25.7,25.5,26.7,29.3,28.8,32.0,34.9,36.3,35.3,NaN
6,% School with Playground Facility,-,-,-,63.0,63.8,6210.19,1664.0,67.2,67.1,68.0,NaN
7,% Schools with Ramp,4.5,6.0,6.0,5.5,5.5,5.2,65.0**,73.3**,26.4**,50.0**,NaN
8,% Schools havining Electricity,-,-,53.4,57.1,60.0,56.7,61.5,64.7,70.7,84.0,NaN
9,% Schools with Computer,18.1,21.9,24.0,35.9,41.0,45.9,50.3,53.3,58.6,60.4,NaN
10,% Schools Providing Mid-day Meal*,-,-,-,90.5,92.2,91.1,97.0,97.9,98.3,97.9,NaN

ValueError: Length mismatch: Expected axis has 12 elements, new values have 11 elements

In [34]:
 s_df = pd.read_csv('data/trends/sikkim/tabula-ElementryEducationInIndia2015-16-1.csv')

display(s_df)

In [35]:
display(s_df)

,Facility Indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,Unnamed: 11
0,Student-Classroom Ratio,16,15,15,15.0,14,14,14,13,12,12,NaN
1,% Schools with Drinking Water,76.9,79.8,87.5,96.7,98.2,9260.15,1497.0,97.2,97.2,98.5,NaN
2,% Schools with Common Toilet,86.5,88.7,98.7,80.0,-,-,-,-,-,-,NaN
3,% Schools with Boys' Toilet,-,-,-,43.4,49.5,95.2,55.2x,100.0x,99.9x,99.8,NaN
4,% Schools with Girls' Toilet,34.5,42.3,41.4,74.8,75.4,8210.19,15 97.1x,96.8x,97.4x,99.8,NaN
5,% Schools with Boundarywall,25.2,25.7,25.5,26.7,29.3,28.8,32.0,34.9,36.3,35.3,NaN
6,% School with Playground Facility,-,-,-,63.0,63.8,6210.19,1664.0,67.2,67.1,68.0,NaN
7,% Schools with Ramp,4.5,6.0,6.0,5.5,5.5,5.2,65.0**,73.3**,26.4**,50.0**,NaN
8,% Schools havining Electricity,-,-,53.4,57.1,60.0,56.7,61.5,64.7,70.7,84.0,NaN
9,% Schools with Computer,18.1,21.9,24.0,35.9,41.0,45.9,50.3,53.3,58.6,60.4,NaN
10,% Schools Providing Mid-day Meal*,-,-,-,90.5,92.2,91.1,97.0,97.9,98.3,97.9,NaN

In [71]:
s_df = pd.read_csv('data/All_States/a&n.csv')

In [72]:
display(s_df)

,indicators,2005-06,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16
0,Total Teachers (Elementary),2967,3715.0,3837.0,4947.0,5282.0,5374.0,5228,5263,5257.0,5346.0
1,% Teachers: Government,-,87.7,85.7,85.7,83.8,83.5,81.2,81.4,82.7,81.4
2,% Teachers: Private Aided,-,1.6,1.7,1.4,1.5,1.3,1.4,1.4,1.3,1.4
3,% Teachers: Private Unaided,-,10.7,12.6,12.9,14.1,15.0,17.4,17.2,16.0,17.2
4,Pupil-Teacher Ratio: Elementary,16,15.0,15.0,11.0,10.0,10.0,10,10,10.0,9.0
5,% Female Teachers,52.3,57.3,59.2,58.2,58.7,59.8,61.2,61.7,61.4,62.5
6,% SC Teachers,-,0.4,0.3,0.5,0.6,0.0,0.2,0.3,0.2,0.4
7,% ST Teachers,-,7.2,7.6,7.1,7.4,7.4,7.8,7.4,7.3,7.0
8,% OBC Teachers,-,3.6,6.2,10.2,12.3,14.3,15.2,16.4,19.3,20.8
9,% Teachers Recieved in-Service Training,21.3,16.9,15.1,29.9,22.8,25.9,34.7,17.6,8.0,6.0
10,% Contract Teachers to Total Teachers,1.1,1.1,1.5,3.1,4.5,13.3,-,-,12.7,12.3
11,Enrolment: Classes I-V,29453,35963,34178,34242,32224,32423,32233,31987.0,31625,31406
12,Enrolment: Classes VI-VIII,18845,21540,22488,22323,21129,20909,20164,19716.0,19202,18707
13,"Enrolment: Classes I-V, Government",-,29892,27463,27148,24926,24652,23819,23441.0,22772,22174
14,"Enrolment:Classes VI-VIII,Gov9e8rn.9ment",-,19100,19835,19555,18156,17685,16650,16074.0,15463,14997
15,"Enrolment: Classes I-V, Priv8a3.t9e",-,6071,6715,7094,7298,7771,8414,8546.0,8853,9232
16,"Enrolment: Classes VI-VIII, Private",-,2440,2653,2768,2973,3168,3514,3642.0,3739,3710
17,% Girls Enrolment: Primary Le9v7e.l6,49.1,48.8,49.0,48.7,48.8,48.9,48.6,48.9,49.2,49.1
18,% Girls Enrolment: U.Primary9 0L.e8vel,46.9,47.5,47.5,48.0,48.4,48.3,48.9,48.6,48.7,49.1
19,Ratio of Girls Enr.to Boys: Primary,0.97,0.95,0.96,0.95,0.95,0.96,0.95,0.96,0.97,0.96
20,Ratio of Girls Enr.to Boys: U.Primary,0.88,0.90,0.90,0.92,0.94,0.93,0.96,0.94,0.95,0.96
21,% SC Enrolment: Classes I-VIII,0.0,0.0,0.1,0.0,0.4,0.4,0.0,0.0,0.0,0.0
22,% ST Enrolment: Classes I-VII9I 9.0,8.1,7.0,7.4,7.4,7.5,7.4,7.4,8.0,8.3,8.5
23,% OBC Enrolment: Primary Level,0.0,0.7,3.5,4.2,6.0,9.3,13.7,16.9,18.2,20.3
24,% OBC Enrolment:U.Primary Level,0.0,0.6,2.8,4.6,6.7,10.9,15.2,18.2,19.2,21.5
25,% Muslim Enrolment: Primary L9e9v.3el,-,1.5,3.1,7.0,7.9,8.1,8.6,8.5,8.9,9.2
26,% Muslim Enrolment: U. Prim9a4ry.3 Level,-,1.3,3.0,5.8,6.6,6.9,7.5,8.2,8.5,8.5
27,Ratio of Grade V to I,-,-,-,-,-,-,-,100.0,98,-
28,Avg. Repetition Rate: Primary Level,-,1.8,0.5,1.7,2.8,1.2,0.4,0.8,0.3,0.3
29,Avg.Repetition Rate: U.Primary Level,-,4.5,1.1,3.8,1.3,0.4,0.2,0.5,0.3,0.2
30,Avg. Drop-out Rate: Primary Level,-,-,-,1.5,3.5,8-,.7-,0.7,1.2,0.5
31,Retention Rate: Primary Level,-,-,-,84.4,-,92.7,98.1,93.8,-,96.2
32,Transition Rate: Primary to U.Primary,-,-,-,-,97.2,-,99.9,98.4,98.7,-
33,Student-Classroom Ratio,22,19,19,17.0,16,15,19,19,19,18
34,% Schools with Drinking Water,81.9,98.1,98.6,91.4,95.8,9270.10,1498.2,98.7,99.5,100.0
35,% Schools with Common Toilet,35.9,84.4,95.6,29.7,-,-,-,-,-,-
36,% Schools with Boys' Toilet,-,-,-,84.5,68.5,86.7,74.0x,95.4x,100.0x,100.0
37,% Schools with Girls' Toilet,63.8,73.8,81.7,88.8,73.9,8220.10,15 91.1x,93.2x,100.0x,100.0
38,% Schools with Boundarywall,41.1,47.6,48.6,51.8,48.5,48.6,49.0,57.9,65.9,70.2
39,% School with Playground Facility,-,-,-,60.9,56.9,5270.17,1655.0,57.5,57.6,58.1
40,% Schools with Ramp,5.6,8.6,7.2,17.3,25.1,22.0,36.7**,39.8**,47.8**,51.8**
41,% Schools havining Electricity,-,-,87.5,84.3,86.2,86.2,86.7,87.2,88.8,90.0
42,% Schools with Computer,17.4,41.2,47.5,55.3,60.8,59.4,52.8,52.6,56.8,56.6
43,% Schools Providing Mid-day Meal*,-,-,-,94.4,89.9,94.3,92.1,94.9,97.1,97.4
44,Number of Districts Covered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,8.5,2,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
46,Total Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,8.0,287,359.0,360.0,394.0,406.0,428.0,451.0,454.0,410.0,410.0
48,Total Government Schools,-,317.0,313.0,322.0,324.0,330.0,340.0,348.0,340.0,340.0
49,Total Private Schools,-,42.0,46.0,72.0,82.0,98.0,111.0,106.0,70.0,70.0
50,Ratio of Primary to U.Primary7S.c4h./Sec.,2.2,2.1,2.1,2.4,1.4,1.8,2.5,2.4,2.1,2.0
51,Primary Sch./Sec.per 1000 Child Popln.,6,8.0,6.0,9.0,7.0,8.0,11.0,13.0,11.0,11.0
52,U.Prim. Sch./Sec.per 1000 Child Popln.,5,6.0,8.0,6.0,8.0,7.0,7.0,8.0,9.0,9.0
53,% Single-Teacher Schools with Enr.≥15,3.8,0.0,0.0,1.8,2.2,0.7,3.3,2.4,1.0,1.0
54,% Enrolment in Single-Teacher Schools,0.7,0.0,0.3,0.4,0.6,0.3,0.0,1.0,0.4,0.4
55,% Schools with Enrolmen6t .1≤ 50,34.5,38.4,39.7,44.4,47.8,48.4,52.3,51.1,45.9,45.9
56,% Schools with Female T6e.a0chers,84.7,85.8,100.0,89.3,88.9,87.4,90.5,90.1,84.8,84.7