In [6]:
import pandas as pd
import csv
import matplotlib as mp
import os

In [136]:

india_folder = 'data/trends/'

In [147]:
columns = ['indicators', '2005-06', '2007-08', '2008-09', '2009-10', '2010-11','2011-12', '2012-13', '2013-14', '2014-15', '2015-16']
india = pd.DataFrame(columns=columns)

In [157]:
try:
    for item in os.listdir(india_folder):
        if os.path.isdir(india_folder + item):
            for csv_file in os.listdir(india_folder + item):
                df = pd.read_csv(india_folder + item + "/" + csv_file)
                df.columns = columns
                df.to_csv(india_folder + item + "/" + item + ".csv", index=False)
                df = df[df.columns[:10]]
except Exception as e:
    print (e)
    print (item)
    print (df.columns)
    print (df)

Length mismatch: Expected axis has 12 elements, new values have 11 elements
haryana
Index(['School Indicators6.2', '2005-06', '2007-08', '2008-09', '2009-10',
       '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16',
       'Unnamed: 11'],
      dtype='object')
                          School Indicators6.2 2005-06  2007-08  2008-09  \
0               Number of Distric4t.s5 Covered      19     20.0     20.0
1                          Total Schools\r11.0   13559  17743.0  18947.0
2                     Total Government Schools       -  14729.0  15460.0
3                        Total Private Schools       -   3008.0   3480.0
4   Ratio of Primary to U.PrimaryS1c1h.6./Sec.     2.1      1.6      1.5
5       Primary Sch./Sec.per 1000 Child Popln.       4      5.0      6.0
6       U.Prim. Sch./Sec.per 1000 Child Popln.       3      5.0      6.0
7        % Single-Teacher Schools with Enr.≥15     6.2      3.2      2.8
8        % Enrolment in Single-Teacher Schools     3.0      1.3      1.1
9             % Schools with Enro6lm.7ent ≤ 50    14.9     13.4     13.4
10          % Schools with F4e.m8 ale Teachers    71.0     77.9     79.3

    2009-10  2010-11  2011-12  2012-13  2013-14  2014-15  2015-16  Unnamed: 11
0      21.0     21.0     21.0     21.0     21.0     21.0     21.0          NaN
1   18579.0  20869.0  21300.0  22004.0  21938.0  21791.0  22268.0          NaN
2   15153.0  14955.0  15021.0  14988.0  14974.0  14587.0  14598.0          NaN
3    3424.0   5235.0   5675.0   6461.0   6450.0   6638.0   6834.0          NaN
4       1.5      1.5      1.4      1.4      1.4      1.3      1.3          NaN
5       6.0      6.0      6.0      7.0      6.0      6.0      6.0          NaN
6       6.0      7.0      7.0      8.0      8.0      8.0      8.0          NaN
7       3.9      4.5      1.7      3.1      3.3      3.3      3.6          NaN
8       1.3      1.8      0.6      0.8      1.3      1.2      1.2          NaN
9      13.5     16.1     14.7     14.6     15.2     15.8     19.8          NaN
10     79.2     81.7     81.2     82.5    100.0     81.9     81.3          NaN

In [130]:

india

Empty DataFrame
Columns: [indicators, 2005-06, 2007-08, 2008-09, 2009-10, 2010-11, 2011-12, 2012-13, 2013-14, 2014-15, 2015-16]
Index: []